.App {
  text-align: center;
  color: white;
  background-color: black;
  font-family: Abyssinica SIL;
}

.App-logo {
  height: 40vmin;
  pointer-events:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* .header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.header-image img {
  width: 20%;
  height: 20%;
  
}
.header-image img:hover{
  width: 25%;
  height: 25%;

}
.list-section{
  border-style:solid;
  border-radius: 1px;
  border-color: rgba(255, 255, 255, 0.603);
  /* border */
  /* border-radius: 1px; */
  width: 80%;
  margin-left: 10%;
  /* background-color: rgba(99, 96, 96, 0.13); */
}
h1{
  font-family: Abyssinica SIL;
  color: white;
  align-content:flex-start;
  margin-right: 70%;
  font-weight: 50;
  font-size: 30px;
}
h1:hover{
  text-decoration: underline;
}
.emp-list{
  background-color: white;
  width: 100%;
  align-Items: "center";
  justify-Content: "space-between";
  color:white
  
}
